# Pandas

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame([
    {'kengetal': '050', 'plaats': 'Groningen', 'provincie': 'GR', 'aantal_inwoners': 80000},
    {'kengetal': '020', 'plaats': 'Amsterdam', 'provincie': 'NH', 'aantal_inwoners': 200000},
    {'kengetal': '010', 'plaats': 'Rotterdam', 'provincie': 'ZH', 'aantal_inwoners': 180000},
    {'kengetal': '030', 'plaats': 'Utrecht'},
    {'kengetal': '070', 'plaats': 'Den Haag', 'provincie': 'ZH', 'aantal_inwoners': 170000},
])

In [14]:
df

  kengetal     plaats provincie  aantal_inwoners
0      050  Groningen        GR          80000.0
1      020  Amsterdam        NH         200000.0
2      010  Rotterdam        ZH         180000.0
3      030    Utrecht       NaN              NaN
4      070   Den Haag        ZH         170000.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   kengetal   5 non-null      object
 1   plaats     5 non-null      object
 2   provincie  4 non-null      object
dtypes: object(3)
memory usage: 252.0+ bytes

In [5]:
list(df.columns)

['kengetal', 'plaats', 'provincie']

### Indexing

In [6]:
df['provincie'] = df['provincie'].fillna('-')

In [7]:
df[['plaats', 'provincie']]

      plaats provincie
0  Groningen        GR
1  Amsterdam        NH
2  Rotterdam        ZH
3    Utrecht         -
4   Den Haag        ZH

In [8]:
df['adressering'] = df['plaats'] + ', ' + df['provincie']

In [9]:
df

  kengetal     plaats provincie    adressering
0      050  Groningen        GR  Groningen, GR
1      020  Amsterdam        NH  Amsterdam, NH
2      010  Rotterdam        ZH  Rotterdam, ZH
3      030    Utrecht         -     Utrecht, -
4      070   Den Haag        ZH   Den Haag, ZH

In [10]:
df.query('provincie=="ZH"')

  kengetal     plaats provincie    adressering
2      010  Rotterdam        ZH  Rotterdam, ZH
4      070   Den Haag        ZH   Den Haag, ZH

In [11]:
df[df['provincie']=='ZH']

  kengetal     plaats provincie    adressering
2      010  Rotterdam        ZH  Rotterdam, ZH
4      070   Den Haag        ZH   Den Haag, ZH

In [ ]:
pd.merge(....., df.set_index('jaar'))